<%- include('layout/header'); -%>

<form method="POST">
  <input type="text" name="title" />
  <br />
  <textarea name="body" cols="30" rows="7"></textarea>
  <br />
  <button type="submit">Submit</button>
</form>

<%- include('layout/footer'); -%>